.works {
  clear: both;
  text-align: center;
  padding: 5% 15%;
  background: linear-gradient(to right, #f3f3f3, white);
  margin-bottom: 2%; }
  .works h2 {
    font-family: "Baron Neue", sans-serif;
    /* Output crazy text-shadows */
    text-shadow: 1px 1px #f3f3f3, 2px 2px #f3f3f3, 3px 3px #f3f3f3, 4px 4px #f4f4f4, 5px 5px #f4f4f4, 6px 6px whitesmoke, 7px 7px whitesmoke, 8px 8px whitesmoke, 9px 9px #f6f6f6, 10px 10px #f6f6f6, 11px 11px #f6f6f6, 12px 12px #f7f7f7, 13px 13px #f7f7f7, 14px 14px #f8f8f8, 15px 15px #f8f8f8, 16px 16px #f8f8f8, 17px 17px #f9f9f9, 18px 18px #f9f9f9, 19px 19px #fafafa, 20px 20px #fafafa; }
  .works .works__grid {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -o-column-count: 3;
    overflow: hidden; }
    .works .works__grid .grid-item {
      max-width: 407px; }
    .works .works__grid .grid-item_normal {
      height: 210px; }
      .works .works__grid .grid-item_normal img {
        height: 100%;
        float: left; }
    .works .works__grid .grid-item_small {
      height: 196px; }
      .works .works__grid .grid-item_small img {
        height: 100%;
        float: left; }
    .works .works__grid .grid-item_average img {
      height: 230px; }
    .works .works__grid .grid-item_large-x {
      height: 285px; }
      .works .works__grid .grid-item_large-x img {
        height: 100%;
        float: left; }
    .works .works__grid .grid-item_large-xx {
      height: 400px; }
      .works .works__grid .grid-item_large-xx img {
        height: 100%; }
    .works .works__grid img {
      width: 100%;
      margin-bottom: 10px; }
  .works ul {
    padding: 0; }
    .works ul a {
      text-decoration: none; }
      .works ul a:visited {
        color: #1a2631; }
    .works ul .is_active {
      text-decoration: underline; }
  .works li {
    display: inline;
    padding: 1%;
    font-size: 12px;
    font-family: "Baron Neue", sans-serif; }
